.loading-parent{
    background-color: rgba(0, 0, 0, 0.554);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loading-child{
    width: 60px;
    height: 60px;
    border: 10px solid rgba(0, 0, 0, 0.671);
    border-radius: 50%;
    border-top: 10px solid orange;
    animation: skibidi 1s infinite linear;
}
@keyframes skibidi{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}